<footer class="footer">
    <nav class="footer__links">
        <a href="/usage/">Usage</a>
        <a href="/loaders/">Loaders</a>
        <a href="/examples/">Examples</a>
        <a href="/api/">API</a>
    </nav>
    <a class="footer__edit" href="https://github.com/gregives/eleventy-load-website/blob/master/{{ page.inputPath }}">
        Edit this page on GitHub
    </a>
    <p class="footer__information">
        Made by
        <a class="footer__author" href="https://gregives.co.uk/">Greg Ives</a>
        &copy;
        <span class="footer__year">2020</span>
    </p>
</footer>