<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if meta.title or meta.site -%}
    <title>
        {%- if meta.title -%}
        {{ meta.title }}
        {%- endif -%}
        {% if meta.title and meta.site %} | {% endif %}
        {%- if meta.site -%}
        {{ meta.site }}
        {%- endif -%}
    </title>
    {%- endif %}

    {% if meta.description -%}
    <meta name="description" content="{{ meta.description }}">
    {%- endif %}

    <link rel="stylesheet" href="_assets/styles/main.scss">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="{{ meta.fonts }}" />
    <link rel="stylesheet" href="{{ meta.fonts }}" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="{{ meta.fonts }}" />
    </noscript>
</head>

<body>
    {% include "header.html" %}
    <main class="content">
        {{ content }}
    </main>
    {% include "footer.html" %}

    <script src="_assets/scripts/main.js"></script>
</body>

</html>