---
site: eleventy-load
description: Making Eleventy sites easy
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}{% if title and site %} | {% endif %}{{ site }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="_assets/styles/main.scss" />
  </head>

  <body>
    {% include "header.html" %}
    <main class="content">{{ content }}</main>
    {% include "footer.html" %}

    <script src="_assets/scripts/main.js" defer></script>
  </body>
</html>
